#title{
    background-color: #7575d8;
    text-align:center;
}
body{
    font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
    background-color:rgb(145,145,224);
    font-weight: 1000;
}
nav ul{
list-style: none;
}
nav li{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;


}
nav a {
    color:rgb(25, 25, 95);
    text-transform: uppercase;
    text-decoration: none ;
    font-size: 25px;
    text-align: center;
}
nav a:hover{
    color: rgb(96, 31, 156);
}
nav{
    width: 50%;
    margin:0 auto;
}h1{
    text-align: center;
}
p{
text-align: center;
font-weight: 100;
}
.alingIMG{
    text-align: center;
}